<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page 1+2</h1>
    <h3> <%= 1+2 %> </h3>
    <h3> <%= "hello".toUpperCase() %> </h3>
    <h3> <%= ["hello", "bonjour", "namaste"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae reprehenderit aspernatur, aperiam mollitia atque in magni facere maiores placeat molestias asperiores distinctio? Itaque velit sint amet, fugiat ipsa harum distinctio nostrum reprehenderit nemo quos vero excepturi expedita. Sunt similique laboriosam asperiores consequatur alias voluptatem labore unde obcaecati accusantium ut porro quos voluptate dolore, vel dolorum atque veritatis sapiente eius, incidunt iste ipsam tempora corporis. Sapiente consectetur quisquam voluptatibus, doloribus beatae dolorem laborum porro quos animi quidem libero illo maxime! Voluptates, dolorem. Nesciunt molestias accusantium optio, tempora odit, quidem quaerat tenetur consectetur quae, voluptatem doloremque ducimus. Totam possimus recusandae </br> <hr>
    sequi reiciendis, sapiente atque. Qui possimus magni ex, suscipit obcaecati eaque officia eligendi iusto quasi. Beatae aliquam earum quos tempore architecto voluptatibus rem ullam, laudantium ea nam amet mollitia eos ex eligendi quaerat officiis consequuntur provident harum inventore consequatur, culpa perferendis. Aliquid, rem dignissimos. Reprehenderit doloribus sapiente, fuga sunt deleniti exercitationem asperiores culpa autem corporis, est sint animi consectetur dolorum optio quisquam quibusdam quasi cum quo, recusandae laboriosam. Voluptas nesciunt odit distinctio officia. Doloribus veniam doloremque accusantium architecto, porro qui optio facilis nam quia dolore odit eos itaque suscipit repudiandae! Officia quidem nam explicabo doloremque recusandae nobis praesentium corporis vel. Illum, iusto eligendi cumque repudiandae tempora hic? Maxime vel doloremque at, esse commodi fuga cupiditate incidunt facilis laudantium numquam minima reiciendis illo quos cum id facere quas quam sequi voluptates, in pariatur distinctio perspiciatis dolorem. Veritatis cupiditate vero voluptates adipisci cum laudantium accusamus beatae possimus blanditiis itaque accusantium explicabo officia, eveniet atque necessitatibus ullam sint nobis consectetur fugiat sit aliquam at. Doloremque vero expedita ad quia, possimus tenetur odio neque iusto provident dolorem esse quos eaque iure totam quasi exercitationem facilis maiores enim molestias officia a id reprehenderit mollitia natus. Asperiores,  obcaecati iste ab at necessitatibus perspiciatis ad, earum hic consectetur sapiente. Rerum ea adipisci numquam provident, officiis unde aliquid. Eum, ut fugit? Eos praesentium, et dicta facilis dolor impedit? Totam dolore ad obcaecati laboriosam. Itaque similique autem necessitatibus doloremque expedita? Voluptas doloribus fugiat tenetur laboriosam quisquam, perferendis natus saepe non ratione, recusandae quasi deleniti illo sapiente, molestias obcaecati harum aliquid! Distinctio dolore deleniti incidunt iure, vitae in laudantium aut consequuntur, consectetur autem modi nobis. Consequuntur quidem illo cupiditate libero hic officiis nostrum atque, odio vitae, rem tenetur.</p>
    <button>Submit</button>
</body>
</html>