<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>New Chat</h1>
    <form method="POST" action="/chats">
        <input type="text" placeholder="Who are you?" name="from" id="from"> <br>
        <textarea name="msg" id="msg" cols="30" rows="10">Write your message here...</textarea> <br>
        <input type="text" name="to" id="to" placeholder="add receiver">
        <button>Create Chat</button>
    </form>
</body>
</html>